
/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* butto primary */
.button-primary{
    background-color: #FD6E0A; 
    color: #FFF;
    font-size:20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding:18px 35px;


}
.title-style{
    color:  #181818;
    font-family: Open Sans;
    font-size: 45px;
   
    font-weight: 800;
 

    
    
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
 
}
/* letterstyle */
.letter-style{
    color: #FD6E0A;


}
nav >ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* addes header style */
.header-style{
    background-color:#FFF8F3 ;
    background-image: url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* added banner */
.banner{
    padding:30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content:space-between;

 
}
/* added banner container */
.banner-container{
    max-width: 500px;
}
/* added banner header-style */
.banner-header{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    color:#181818;
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
  
}
.banner .banner-des{
    font-size: 18px;
    font-weight: 400;

    margin-top: -40px;

    
}


.banner .profile-pic{
    width: 500px;
    float: right;
     
}
/* about section added */
.about{
border-radius: 10px;
background: #FFF8F3;
text-align: center;
width: 50%;
margin: 0 auto;
padding:150px 150px;
margin-top: 130px;
border-radius: 10px;

}
.about-title-style{
 color:  #181818;
font-size: 35px;
font-weight: 700;

}
/* added about-des-style */
.about-des-style{
   color:  #757575;
   font-size: 18px;
   font-weight: 400;
}
/* added footer style */

footer >ul{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
  
}

footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
}