
/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* butto primary */
.button-primary{
    background-color: #FD6E0A; 
    color: #FFF;
    font-size:20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding:18px 35px;


}
.title-style{
    color:  #181818;
    font-family: Open Sans;
    font-size: 45px;
   
    font-weight: 800;
 

    
    
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
 
}
/* letterstyle */
.letter-style{
    color: #FD6E0A;


}
nav >ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* addes header style */
.header-style{
    background-color:#FFF8F3 ;
}
/* added banner */
.banner{
    padding:30px 30px 30px 200px;
    display: flex;
    align-items: center;
    background-image: url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* banner header style */

.banner .profile-pic{
    width: 500px;
    
 

}
.banner-des{
    font-size: 18px;
    font-weight: 400;
}

